<section class='bg-emerald-900 p-20 rounded-xl my-4 text-center' id='about'>
  <h2 class='text-5xl font-bold mt-0 mb-10'>Sobre Nosotros</h2>
  <p class='text-zinc-300'>
    En Anadev, nos apasiona transformar ideas en soluciones digitales
    innovadoras. Somos un equipo de expertos en desarrollo de software y diseño
    web, comprometidos con ofrecer productos a medida que impulsen el
    crecimiento de tu negocio. Con años de experiencia en el sector, hemos
    ayudado a empresas de todos los tamaños a optimizar sus procesos, mejorar su
    presencia en línea y alcanzar sus objetivos comerciales. Nos enorgullece
    combinar creatividad, tecnología y profesionalismo en cada proyecto que
    emprendemos. Nuestra filosofía se basa en la colaboración cercana con
    nuestros clientes, entendiendo sus necesidades y ofreciendo soluciones
    personalizadas que generen un impacto real. Ya sea una página web, una
    aplicación móvil o un sistema de gestión, en Anadev encontrarás un aliado
    confiable para tu transformación digital.
  </p>
</section>
