@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
  background-color: #d5d0d0;
}

.form-class {
  box-shadow: #1c398e 0px 0px 10px;
}

html {
  scroll-behavior: smooth;
}