---
interface IProps {
  title: string;
}

const { title } = Astro.props;

import '../styles/layout.css';
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta
      name='description'
      content='En Anadev creamos software y páginas web a medida para optimizar procesos y mejorar tu presencia en línea. ¡Transformamos ideas en realidad!'
    />
    <meta
      name='keywords'
      content='desarrollo de software, páginas web, diseño web, aplicaciones web, soluciones digitales, Anadev, anadev, anaDev'
    />
    <meta name='author' content='Ana Dev' />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='images/apple-touch-icon.png'
    />
    <link
      rel='icon'
      href='images/android-chrome-512x512.png'
      type='image/png'
    />
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />

    <title>Ana Dev - {title}</title>
  </head>

  <body class='bg-gray-100'>
    <main>
      <slot />
    </main>
  </body>
</html>
